!.env.sample
!/log/.keep
!/storage/.keep
!/tmp/.keep
*.bowerrc
*.dump
*.orig
*.patch
*.rbc
*.rdb
.DS_Store
.byebug_history
.env
.env.*
!.env.example
.idea/*
.powenv
.rvmrc
.yarn-integrity
/.bundle
/coverage/
/db/*.sqlite3
/db/*.sqlite3-[0-9]*
/db/*.sqlite3-journal
/log/*
/node_modules
/public/assets
/public/packs
/public/packs-test
/public/system
/public/uploads
/spec/failures.txt
/spec/tmp
/storage/*
/tmp/*
/vendor/assets/bower_components
/vendor/bundle
/yarn-error.log
bower.json
capybara-*.html
config/initializers/secret_token.rb
config/master.key
node_modules/
pickle-email-*.html
rerun.txt
yarn-debug.log*

